body{
    display: flex;
    flex-direction: row;
}


.card-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#date{
    color: rgb(92, 92, 92);
}

.btn{
    background-color: rgb(87, 59, 59);
    border: 1px solid black;
}

.btn:hover{
border: 1px solid black;
    background-color:rgb(77, 87, 59)
}


#type{
    color: rgb(126, 126, 126);
    font-size: 14px;
    margin-bottom: 3px;
}