#main-navbar{
    background-color: green;
}

body{
    background-color: #f9ffe5;
    font-family: 'Abril Fatface', cursive;
}

.dropdown-item{
    color: tan;
}

.dropdown-item:hover{
    background-color: #f9ffe5;
    color: rgb(94, 66, 66);
}

#dropdown{
    background-color: transparent;
    border: 5px solid tan;
}

#nav-part{
    color: tan;
    margin-left: 10px;
}


#divider{
    border: 1px solid tan;
    height: 4px;
}

.top-background{
    height:300px;
    width: 100%;
    background-color: green;
    border-bottom: 5px solid tan;
}