body{
    background-color: rgb(224, 254, 230);
}


#main-navbar{
    background-color: #0c305c;
    border-bottom: 5px solid rgb(0, 152, 0);
    box-shadow: 0px 5px 10px;
}

#nav-part{
    color: white;
    font-weight: bold;
}

.dropdown-item:hover{
    color: white;
    background-color: #0c305c;
}

.main-title{
    margin: 30px 0;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    color: white;
}

.main-paragraph{
    width: 600px;
    margin: auto;
    margin-top: 50px;
    color: white;
    max-width: 100%;
}

#title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #0c305c;
}

.nav-item svg{
    width: 20px;
    fill: currentColor;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler svg {
    width: 20px;
    fill: currentColor;
}

.squirrelimg{
    margin-top: 10px;
}

#main-section{
    background-image: url(images/leafbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 50px;
    max-width: 100%;
}



@media(max-width: 1200px){
    .squirrelimg{
        width: 100%;
    }
}

@media(max-width: 650px){
    .main-paragraph{
        width: 470px;
    }
}
